<div id="painel">
  <% @page.photos.ordered.in_groups(3, false).each_with_index do |photos| %>
    <%= content_tag :div, nil, :class => "fotoPainel span4", :data => { :photos => photos.map { |p| { :src => p.image.panel.url } } } %>
  <% end %>
</div>

<div class="container">
  <div class="row-fluid highlights">
    <div class="span6">
      <%=raw @page.snippets.section(:left_highlight).rendered_body %>
    </div>

    <div class="span6">
      <%=raw @page.snippets.section(:right_highlight).rendered_body %>
    </div>
  </div>
</div>