<div class="logo">
  <%= link_to image_tag("estampada.jpeg"), "https://www.facebook.com/pages/Estampada/326947024065907", title: "Acompanhe nossa página no facebook!" %>

  <h2>Aguarde, em breve muito mais para você aqui!</h2>

  <p><%= link_to "contato@estampada.com", "mailto:contato@estampada.com" %></p>
</div>