<h2><%= t("pages.#{@page.slug}.title") %></h2>

<div class="main-content">
  <%=raw @page.snippets.section(:main).rendered_body %>
</div>

<div class="photos">
  <% @page.photos.ordered.each do |photo| %>
    <div class="photo">
      <%= link_to photo.image.url, :class => "fancybox", :title => photo.caption, :rel => 'photos' do %>
        <%= image_tag photo.image_thumb_version.url, :alt => photo.caption, :title => photo.caption %>
      <% end %>
    </div>
  <% end %>
  <div class="clearfix"></div>
</div>
