<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Estampada", admin_pages_path, class: 'brand' %>

      <ul class="nav">
        <% Page.all.each do |page| %>
          <li><%= link_to t("pages.#{page.slug}.title"), by_slug_admin_pages_path(slug: page.slug) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
